---
layout: default
---  
{% include navbar.html %}

<!-- second section - about -->
<div id="about">  
  <div class="col-md-12">
    <h1>General Records Schedule (GRS) 6.1</h1>
    <h2>Email Managed under a Capstone Approach</h2>
    <br/><br/>
    <p>The National Archives and Records Administration (NARA) issued General Records Schedule (GRS) <a href="http://www.archives.gov/records-mgmt/grs/grs-6.1-review-package.pdf">6.1 Email Managed under a Capstone Approach</a> to provide Federal agencies legal authority to disposition email under the Capstone Approach.  This approach was issued and is outlined in <a href="http://www.archives.gov/records-mgmt/bulletins/2013/2013-02.html">Bulletin 2013-02</a>.</p>
    <p>The GRS 6.1 schedule applies only to Federal agencies that implement a Capstone approach as described in this GRS.  If an agency is implementing a Capstone disposition approach different from what is provided in this GRS, the agency must submit a records schedule.</p>
    <p>This site contains data sets for active approved verification forms, NA-1005s, submitted by Federal agencies requesting use of these disposition authorities in GRS 6.1.</p>
    <p>Data from this form includes:</p>
    <ul>
      <li>Name of the agency to which this form applies;</li>
      <li>Applicable record group number;</li>
      <li>Selection of which GRS 6.1 items the agency is proposing to use;</li>
      <li>Information on implementation scope and legacy email; and</li>
      <li>List of Capstone Officials.</li>
    </ul>
    <p>For questions on the GRS 6.1 and/or form NA-1005, please contact NARA’s <a href="mailto:GRS_Team@nara.gov">GRS Team</a>.</p>
  </div>     
</div>
<br/>
<!-- third section - entries -->
<div id="explore">  
  <h1>Submission</h1>      
  
    <div class="col-md-8 col-md-offset-2">
      <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tabagency" data-toggle="tab">By Agency</a></li>
            <li><a href="#tabdate" data-toggle="tab">By Date</a></li>            
            <li><a href="#tabrecordgroup" data-toggle="tab">By Record Group</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tabagency">
              {% for row in site.data['forms'] %}
              <li>          
                <a href="{{ site.baseurl }}/api/forms/{{ 'Name of Agency to Which this Form Applies' | sanitize_string }}/{{ row['Name of Agency to Which this Form Applies'] | sanitize_string }}.html">
                  {{ row['Name of Agency to Which this Form Applies'] }}
                </a>
              </li>
              {% endfor %}  
            </div>            
            <div class="tab-pane fade" id="tabdate">
              {% for row in site.data['forms'] %}
              <li>          
                <a href="{{ site.baseurl }}/api/forms/{{ 'Received Date' | sanitize_string }}/{{ row['Received Date'] | sanitize_string }}.html">
                  {{ row['Received Date'] }}
                </a>
              </li>
              {% endfor %}  
            </div>
            <div class="tab-pane fade" id="tabrecordgroup">              
              {% for row in site.data['forms'] %}
              <li>          
                <a href="{{ site.baseurl }}/api/forms/{{ 'Record Group Number' | sanitize_string }}/{{ row['Record Group Number'] | sanitize_string }}.html">
                  {{ row['Record Group Number'] }}
                </a>
              </li>
              {% endfor %}  
            </div>
          </div>
        </div>
      </div>

    </div>     
</div>
<br/>
<!-- fourth section - entries -->
<div id="additional">  
    <div class="col-md-12">
      <h1>Additional Resources</h1>  
      <br/>    
      <p>This page contains additional information on the responsibilities and status of email management across Federal agencies.</p>
      <p>Federal agencies are required to manage their email records in accordance with the <a href="http://www.archives.gov/about/laws/fed-agencies.html">Federal Records</a> Act and <a href="http://www.archives.gov/global-pages/exit.html?link=http://www.ecfr.gov/cgi-bin/text-idx?SID=a09457164851e8c5d055cbe8bcc26369&node=36:3.0.10.2.10&rgn=div5">36 CFR Chapter XII Sub-chapter B</a>.  With the issuance of the <a href="http://www.archives.gov/global-pages/exit.html?link=http://www.ecfr.gov/cgi-bin/text-idx?SID=a09457164851e8c5d055cbe8bcc26369&node=36:3.0.10.2.10&rgn=div5">Managing Government Records</a> <a href="http://www.archives.gov/global-pages/exit.html?link=http://www.whitehouse.gov/sites/default/files/omb/memoranda/2012/m-12-18.pdf">Directive (M-12-18)</a>, Goal 1.2, agencies are required to manage both permanent and temporary email records in an accessible electronic format by <strong>December 31, 2016</strong>.</p>
      <p>NARA’s Capstone Approach and GRS 6.1 provide one way in which Federal agencies can meet these requirements.  To find additional information on how individual agencies are managing email please download NARA's Email Management Spreadsheet.  It contains:</p>
      <ul>
        <li>Whether an agency is utilizing the Capstone Approach;</li>
        <li>The status of each agencies disposition request; and</li>
        <li>Links to approved agency specific schedules or NA-1005 forms.</li>
      </ul>
      <p>This spreadsheet is updated as new information is available.  For questions about this list or to request that additional agencies be added, please contact NARA’s <a href="mailto:GRS_Team@nara.gov">GRS Team</a>.</p>

    </div>     
</div>