<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{ site.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-table.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap-table.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap-table-export.js"></script>        
    <script src="{{ site.baseurl }}/js//tableExport.js"></script>   
    <script language="javascript" id="_fed_an_ua_tag" src="{{ site.baseurl }}/js/Universal-Federated-Analytics.1.0.js?agency=NARA&subagency=GITHUB"></script> 
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="container">

      {{ content }}
  
      <!-- footer -->
      <footer class="footer">
        <div class="col-md-12">
          <div class="row">
            <hr/>
            <div class="col-sm-4">
              <ul class="footer">
                <li>
                  <a href="http://www.archives.gov/foia/">Freedom of Information Act</a>
                </li>
                <li>
                  <a href="http://www.archives.gov/eeo/policy/complaint-activity.html">No FEAR Act</a>
                </li>
                <li>
                  <a href="http://www.archives.gov/global-pages/privacy.html">Privacy Policy</a>                  
                </li>                
              </ul>
            </div>
            
            <div class="col-sm-4">
              <ul class="footer">
                <li>                  
                  <a href="http://www.archives.gov/" alt="The U.S. National Archives and Records Administration">
                    <img src="{{ site.baseurl }}/img/nara-logo.png">
                  </a>
                </li>
                <li>1-86-NARA-NARA or 1-866-272-6272</li>
              </ul>
            </div>
            
            <div class="col-sm-4">
              <ul class="footer">
                <li>
                  <a href="http://www.archives.gov/presidential-libraries/visit/">Contact Us</a>
                </li>
                <li>
                  <a href="http://www.usa.gov/">USA.gov</a>
                </li>
                <li>
                  <a href="http://www.archives.gov/global-pages/accessibility.html">Accessibility</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- /footer -->
    </div>


    <script type="text/javascript">
      function getLinkUrl(partial, str) {
        if(!str) {
          return "";
        }
        else if (/^https?:\/\//i.test(str)) {
          return '<a href="' + str + '" target="_blank">' + str + '</a>';
        }
        else {
          return '<a href="' + partial + '/' + sanitizeString(str) + '.html">' + str + '</a>';
        }
      };

      function sanitizeString(str) {
        if (str) {
          var new_str = str.replace(/[\s+-]/gm, "-");
          new_str = new_str.replace(/[^\w-]/gm, "-");          
          new_str = new_str.replace(/\-+/gm, '-');
          new_str = new_str.toLowerCase();
          new_str = new_str.slice(0, 51);
          new_str = new_str.replace(/\-+$/gm, '');

          return new_str;
        }
        else {
          return str;
        }        
      };

    </script>
  </body>
</html>



